* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.sm-cont, .cont, .cont-fluid {
  width: 100%;
  padding-right: var(--gap-x);
  padding-left: var(--gap-x);
  margin-right: auto;
  margin-left: auto;
}
.sm-cont > .g-row-1, .cont > .g-row-1, .cont-fluid > .g-row-1 {
  --g-row: 1;
}
.sm-cont > .g-row-2, .cont > .g-row-2, .cont-fluid > .g-row-2 {
  --g-row: 2;
}
.sm-cont > .g-row-3, .cont > .g-row-3, .cont-fluid > .g-row-3 {
  --g-row: 3;
}
.sm-cont > .g-row-4, .cont > .g-row-4, .cont-fluid > .g-row-4 {
  --g-row: 4;
}
.sm-cont > .g-row-5, .cont > .g-row-5, .cont-fluid > .g-row-5 {
  --g-row: 5;
}
.sm-cont > .g-row-6, .cont > .g-row-6, .cont-fluid > .g-row-6 {
  --g-row: 6;
}
.sm-cont > .g-row-7, .cont > .g-row-7, .cont-fluid > .g-row-7 {
  --g-row: 7;
}
.sm-cont > .g-row-8, .cont > .g-row-8, .cont-fluid > .g-row-8 {
  --g-row: 8;
}
.sm-cont > .g-row-9, .cont > .g-row-9, .cont-fluid > .g-row-9 {
  --g-row: 9;
}
.sm-cont > .g-row-10, .cont > .g-row-10, .cont-fluid > .g-row-10 {
  --g-row: 10;
}
.sm-cont [class*=g-row-], .cont [class*=g-row-], .cont-fluid [class*=g-row-] {
  display: grid;
  grid-column-gap: 10px;
  grid-template-rows: repeat(var(--g-row, 1));
  grid-template-columns: repeat(12, 1fr);
}
.sm-cont [class*=g-row-] [class*=col-], .cont [class*=g-row-] [class*=col-], .cont-fluid [class*=g-row-] [class*=col-] {
  grid-column: var(--start, auto)/span var(--col, auto);
  grid-row: var(--in-rows);
}

.w-100 {
  width: 100%;
}

.d-none {
  display: none;
}

@media (min-width: 576px) {
  .cont {
    max-width: 100%;
  }

  .sm-cont {
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .cont {
    max-width: 720px;
  }

  .sm-cont {
    max-width: 648px;
  }
}
@media (min-width: 992px) {
  .cont {
    max-width: 960px;
  }

  .sm-cont {
    max-width: 912px;
  }
}
@media (min-width: 1200px) {
  .cont {
    max-width: 1140px;
  }

  .sm-cont {
    max-width: 1050px;
  }
}
@media (min-width: 1400px) {
  .cont {
    max-width: 1320px;
  }

  .sm-cont {
    max-width: 1240px;
  }
}
.col-xs-1 {
  --col: 1;
}

.start-xs-1 {
  --start: 1;
}

.row-xs-1 {
  --in-rows: 1;
}

.col-xs-2 {
  --col: 2;
}

.start-xs-2 {
  --start: 2;
}

.row-xs-2 {
  --in-rows: 2;
}

.col-xs-3 {
  --col: 3;
}

.start-xs-3 {
  --start: 3;
}

.row-xs-3 {
  --in-rows: 3;
}

.col-xs-4 {
  --col: 4;
}

.start-xs-4 {
  --start: 4;
}

.row-xs-4 {
  --in-rows: 4;
}

.col-xs-5 {
  --col: 5;
}

.start-xs-5 {
  --start: 5;
}

.row-xs-5 {
  --in-rows: 5;
}

.col-xs-6 {
  --col: 6;
}

.start-xs-6 {
  --start: 6;
}

.row-xs-6 {
  --in-rows: 6;
}

.col-xs-7 {
  --col: 7;
}

.start-xs-7 {
  --start: 7;
}

.row-xs-7 {
  --in-rows: 7;
}

.col-xs-8 {
  --col: 8;
}

.start-xs-8 {
  --start: 8;
}

.row-xs-8 {
  --in-rows: 8;
}

.col-xs-9 {
  --col: 9;
}

.start-xs-9 {
  --start: 9;
}

.row-xs-9 {
  --in-rows: 9;
}

.col-xs-10 {
  --col: 10;
}

.start-xs-10 {
  --start: 10;
}

.row-xs-10 {
  --in-rows: 10;
}

.col-xs-11 {
  --col: 11;
}

.start-xs-11 {
  --start: 11;
}

.row-xs-11 {
  --in-rows: 11;
}

.col-xs-12 {
  --col: 12;
}

.start-xs-12 {
  --start: 12;
}

.row-xs-12 {
  --in-rows: 12;
}

.col-sm-1 {
  --col: 12;
}

.start-sm-1 {
  --start: 1;
}

.row-sm-1 {
  --in-rows: auto;
}

.col-sm-2 {
  --col: 12;
}

.start-sm-2 {
  --start: 1;
}

.row-sm-2 {
  --in-rows: auto;
}

.col-sm-3 {
  --col: 12;
}

.start-sm-3 {
  --start: 1;
}

.row-sm-3 {
  --in-rows: auto;
}

.col-sm-4 {
  --col: 12;
}

.start-sm-4 {
  --start: 1;
}

.row-sm-4 {
  --in-rows: auto;
}

.col-sm-5 {
  --col: 12;
}

.start-sm-5 {
  --start: 1;
}

.row-sm-5 {
  --in-rows: auto;
}

.col-sm-6 {
  --col: 12;
}

.start-sm-6 {
  --start: 1;
}

.row-sm-6 {
  --in-rows: auto;
}

.col-sm-7 {
  --col: 12;
}

.start-sm-7 {
  --start: 1;
}

.row-sm-7 {
  --in-rows: auto;
}

.col-sm-8 {
  --col: 12;
}

.start-sm-8 {
  --start: 1;
}

.row-sm-8 {
  --in-rows: auto;
}

.col-sm-9 {
  --col: 12;
}

.start-sm-9 {
  --start: 1;
}

.row-sm-9 {
  --in-rows: auto;
}

.col-sm-10 {
  --col: 12;
}

.start-sm-10 {
  --start: 1;
}

.row-sm-10 {
  --in-rows: auto;
}

.col-sm-11 {
  --col: 12;
}

.start-sm-11 {
  --start: 1;
}

.row-sm-11 {
  --in-rows: auto;
}

.col-sm-12 {
  --col: 12;
}

.start-sm-12 {
  --start: 1;
}

.row-sm-12 {
  --in-rows: auto;
}

.col-md-1 {
  --col: 12;
}

.start-md-1 {
  --start: 1;
}

.row-md-1 {
  --in-rows: auto;
}

.col-md-2 {
  --col: 12;
}

.start-md-2 {
  --start: 1;
}

.row-md-2 {
  --in-rows: auto;
}

.col-md-3 {
  --col: 12;
}

.start-md-3 {
  --start: 1;
}

.row-md-3 {
  --in-rows: auto;
}

.col-md-4 {
  --col: 12;
}

.start-md-4 {
  --start: 1;
}

.row-md-4 {
  --in-rows: auto;
}

.col-md-5 {
  --col: 12;
}

.start-md-5 {
  --start: 1;
}

.row-md-5 {
  --in-rows: auto;
}

.col-md-6 {
  --col: 12;
}

.start-md-6 {
  --start: 1;
}

.row-md-6 {
  --in-rows: auto;
}

.col-md-7 {
  --col: 12;
}

.start-md-7 {
  --start: 1;
}

.row-md-7 {
  --in-rows: auto;
}

.col-md-8 {
  --col: 12;
}

.start-md-8 {
  --start: 1;
}

.row-md-8 {
  --in-rows: auto;
}

.col-md-9 {
  --col: 12;
}

.start-md-9 {
  --start: 1;
}

.row-md-9 {
  --in-rows: auto;
}

.col-md-10 {
  --col: 12;
}

.start-md-10 {
  --start: 1;
}

.row-md-10 {
  --in-rows: auto;
}

.col-md-11 {
  --col: 12;
}

.start-md-11 {
  --start: 1;
}

.row-md-11 {
  --in-rows: auto;
}

.col-md-12 {
  --col: 12;
}

.start-md-12 {
  --start: 1;
}

.row-md-12 {
  --in-rows: auto;
}

.col-lg-1 {
  --col: 12;
}

.start-lg-1 {
  --start: 1;
}

.row-lg-1 {
  --in-rows: auto;
}

.col-lg-2 {
  --col: 12;
}

.start-lg-2 {
  --start: 1;
}

.row-lg-2 {
  --in-rows: auto;
}

.col-lg-3 {
  --col: 12;
}

.start-lg-3 {
  --start: 1;
}

.row-lg-3 {
  --in-rows: auto;
}

.col-lg-4 {
  --col: 12;
}

.start-lg-4 {
  --start: 1;
}

.row-lg-4 {
  --in-rows: auto;
}

.col-lg-5 {
  --col: 12;
}

.start-lg-5 {
  --start: 1;
}

.row-lg-5 {
  --in-rows: auto;
}

.col-lg-6 {
  --col: 12;
}

.start-lg-6 {
  --start: 1;
}

.row-lg-6 {
  --in-rows: auto;
}

.col-lg-7 {
  --col: 12;
}

.start-lg-7 {
  --start: 1;
}

.row-lg-7 {
  --in-rows: auto;
}

.col-lg-8 {
  --col: 12;
}

.start-lg-8 {
  --start: 1;
}

.row-lg-8 {
  --in-rows: auto;
}

.col-lg-9 {
  --col: 12;
}

.start-lg-9 {
  --start: 1;
}

.row-lg-9 {
  --in-rows: auto;
}

.col-lg-10 {
  --col: 12;
}

.start-lg-10 {
  --start: 1;
}

.row-lg-10 {
  --in-rows: auto;
}

.col-lg-11 {
  --col: 12;
}

.start-lg-11 {
  --start: 1;
}

.row-lg-11 {
  --in-rows: auto;
}

.col-lg-12 {
  --col: 12;
}

.start-lg-12 {
  --start: 1;
}

.row-lg-12 {
  --in-rows: auto;
}

.col-xl-1 {
  --col: 12;
}

.start-xl-1 {
  --start: 1;
}

.row-xl-1 {
  --in-rows: auto;
}

.col-xl-2 {
  --col: 12;
}

.start-xl-2 {
  --start: 1;
}

.row-xl-2 {
  --in-rows: auto;
}

.col-xl-3 {
  --col: 12;
}

.start-xl-3 {
  --start: 1;
}

.row-xl-3 {
  --in-rows: auto;
}

.col-xl-4 {
  --col: 12;
}

.start-xl-4 {
  --start: 1;
}

.row-xl-4 {
  --in-rows: auto;
}

.col-xl-5 {
  --col: 12;
}

.start-xl-5 {
  --start: 1;
}

.row-xl-5 {
  --in-rows: auto;
}

.col-xl-6 {
  --col: 12;
}

.start-xl-6 {
  --start: 1;
}

.row-xl-6 {
  --in-rows: auto;
}

.col-xl-7 {
  --col: 12;
}

.start-xl-7 {
  --start: 1;
}

.row-xl-7 {
  --in-rows: auto;
}

.col-xl-8 {
  --col: 12;
}

.start-xl-8 {
  --start: 1;
}

.row-xl-8 {
  --in-rows: auto;
}

.col-xl-9 {
  --col: 12;
}

.start-xl-9 {
  --start: 1;
}

.row-xl-9 {
  --in-rows: auto;
}

.col-xl-10 {
  --col: 12;
}

.start-xl-10 {
  --start: 1;
}

.row-xl-10 {
  --in-rows: auto;
}

.col-xl-11 {
  --col: 12;
}

.start-xl-11 {
  --start: 1;
}

.row-xl-11 {
  --in-rows: auto;
}

.col-xl-12 {
  --col: 12;
}

.start-xl-12 {
  --start: 1;
}

.row-xl-12 {
  --in-rows: auto;
}

.col-xxl-1 {
  --col: 12;
}

.start-xxl-1 {
  --start: 1;
}

.row-xxl-1 {
  --in-rows: auto;
}

.col-xxl-2 {
  --col: 12;
}

.start-xxl-2 {
  --start: 1;
}

.row-xxl-2 {
  --in-rows: auto;
}

.col-xxl-3 {
  --col: 12;
}

.start-xxl-3 {
  --start: 1;
}

.row-xxl-3 {
  --in-rows: auto;
}

.col-xxl-4 {
  --col: 12;
}

.start-xxl-4 {
  --start: 1;
}

.row-xxl-4 {
  --in-rows: auto;
}

.col-xxl-5 {
  --col: 12;
}

.start-xxl-5 {
  --start: 1;
}

.row-xxl-5 {
  --in-rows: auto;
}

.col-xxl-6 {
  --col: 12;
}

.start-xxl-6 {
  --start: 1;
}

.row-xxl-6 {
  --in-rows: auto;
}

.col-xxl-7 {
  --col: 12;
}

.start-xxl-7 {
  --start: 1;
}

.row-xxl-7 {
  --in-rows: auto;
}

.col-xxl-8 {
  --col: 12;
}

.start-xxl-8 {
  --start: 1;
}

.row-xxl-8 {
  --in-rows: auto;
}

.col-xxl-9 {
  --col: 12;
}

.start-xxl-9 {
  --start: 1;
}

.row-xxl-9 {
  --in-rows: auto;
}

.col-xxl-10 {
  --col: 12;
}

.start-xxl-10 {
  --start: 1;
}

.row-xxl-10 {
  --in-rows: auto;
}

.col-xxl-11 {
  --col: 12;
}

.start-xxl-11 {
  --start: 1;
}

.row-xxl-11 {
  --in-rows: auto;
}

.col-xxl-12 {
  --col: 12;
}

.start-xxl-12 {
  --start: 1;
}

.row-xxl-12 {
  --in-rows: auto;
}

.d-xs-none {
  display: none;
}

.d-xs-inline {
  display: inline;
}

.d-xs-block {
  display: block;
}

.d-xs-inline-block {
  display: inline-block;
}

@media (min-width: 576px) {
  .col-sm-1 {
    --col: 1;
  }

  .start-sm-1 {
    --start: 1;
  }

  .row-sm-1 {
    --in-rows: 1;
  }

  .col-sm-2 {
    --col: 2;
  }

  .start-sm-2 {
    --start: 2;
  }

  .row-sm-2 {
    --in-rows: 2;
  }

  .col-sm-3 {
    --col: 3;
  }

  .start-sm-3 {
    --start: 3;
  }

  .row-sm-3 {
    --in-rows: 3;
  }

  .col-sm-4 {
    --col: 4;
  }

  .start-sm-4 {
    --start: 4;
  }

  .row-sm-4 {
    --in-rows: 4;
  }

  .col-sm-5 {
    --col: 5;
  }

  .start-sm-5 {
    --start: 5;
  }

  .row-sm-5 {
    --in-rows: 5;
  }

  .col-sm-6 {
    --col: 6;
  }

  .start-sm-6 {
    --start: 6;
  }

  .row-sm-6 {
    --in-rows: 6;
  }

  .col-sm-7 {
    --col: 7;
  }

  .start-sm-7 {
    --start: 7;
  }

  .row-sm-7 {
    --in-rows: 7;
  }

  .col-sm-8 {
    --col: 8;
  }

  .start-sm-8 {
    --start: 8;
  }

  .row-sm-8 {
    --in-rows: 8;
  }

  .col-sm-9 {
    --col: 9;
  }

  .start-sm-9 {
    --start: 9;
  }

  .row-sm-9 {
    --in-rows: 9;
  }

  .col-sm-10 {
    --col: 10;
  }

  .start-sm-10 {
    --start: 10;
  }

  .row-sm-10 {
    --in-rows: 10;
  }

  .col-sm-11 {
    --col: 11;
  }

  .start-sm-11 {
    --start: 11;
  }

  .row-sm-11 {
    --in-rows: 11;
  }

  .col-sm-12 {
    --col: 12;
  }

  .start-sm-12 {
    --start: 12;
  }

  .row-sm-12 {
    --in-rows: 12;
  }

  .col-md-1 {
    --col: 12;
  }

  .start-md-1 {
    --start: 1;
  }

  .row-md-1 {
    --in-rows: auto;
  }

  .col-md-2 {
    --col: 12;
  }

  .start-md-2 {
    --start: 1;
  }

  .row-md-2 {
    --in-rows: auto;
  }

  .col-md-3 {
    --col: 12;
  }

  .start-md-3 {
    --start: 1;
  }

  .row-md-3 {
    --in-rows: auto;
  }

  .col-md-4 {
    --col: 12;
  }

  .start-md-4 {
    --start: 1;
  }

  .row-md-4 {
    --in-rows: auto;
  }

  .col-md-5 {
    --col: 12;
  }

  .start-md-5 {
    --start: 1;
  }

  .row-md-5 {
    --in-rows: auto;
  }

  .col-md-6 {
    --col: 12;
  }

  .start-md-6 {
    --start: 1;
  }

  .row-md-6 {
    --in-rows: auto;
  }

  .col-md-7 {
    --col: 12;
  }

  .start-md-7 {
    --start: 1;
  }

  .row-md-7 {
    --in-rows: auto;
  }

  .col-md-8 {
    --col: 12;
  }

  .start-md-8 {
    --start: 1;
  }

  .row-md-8 {
    --in-rows: auto;
  }

  .col-md-9 {
    --col: 12;
  }

  .start-md-9 {
    --start: 1;
  }

  .row-md-9 {
    --in-rows: auto;
  }

  .col-md-10 {
    --col: 12;
  }

  .start-md-10 {
    --start: 1;
  }

  .row-md-10 {
    --in-rows: auto;
  }

  .col-md-11 {
    --col: 12;
  }

  .start-md-11 {
    --start: 1;
  }

  .row-md-11 {
    --in-rows: auto;
  }

  .col-md-12 {
    --col: 12;
  }

  .start-md-12 {
    --start: 1;
  }

  .row-md-12 {
    --in-rows: auto;
  }

  .col-lg-1 {
    --col: 12;
  }

  .start-lg-1 {
    --start: 1;
  }

  .row-lg-1 {
    --in-rows: auto;
  }

  .col-lg-2 {
    --col: 12;
  }

  .start-lg-2 {
    --start: 1;
  }

  .row-lg-2 {
    --in-rows: auto;
  }

  .col-lg-3 {
    --col: 12;
  }

  .start-lg-3 {
    --start: 1;
  }

  .row-lg-3 {
    --in-rows: auto;
  }

  .col-lg-4 {
    --col: 12;
  }

  .start-lg-4 {
    --start: 1;
  }

  .row-lg-4 {
    --in-rows: auto;
  }

  .col-lg-5 {
    --col: 12;
  }

  .start-lg-5 {
    --start: 1;
  }

  .row-lg-5 {
    --in-rows: auto;
  }

  .col-lg-6 {
    --col: 12;
  }

  .start-lg-6 {
    --start: 1;
  }

  .row-lg-6 {
    --in-rows: auto;
  }

  .col-lg-7 {
    --col: 12;
  }

  .start-lg-7 {
    --start: 1;
  }

  .row-lg-7 {
    --in-rows: auto;
  }

  .col-lg-8 {
    --col: 12;
  }

  .start-lg-8 {
    --start: 1;
  }

  .row-lg-8 {
    --in-rows: auto;
  }

  .col-lg-9 {
    --col: 12;
  }

  .start-lg-9 {
    --start: 1;
  }

  .row-lg-9 {
    --in-rows: auto;
  }

  .col-lg-10 {
    --col: 12;
  }

  .start-lg-10 {
    --start: 1;
  }

  .row-lg-10 {
    --in-rows: auto;
  }

  .col-lg-11 {
    --col: 12;
  }

  .start-lg-11 {
    --start: 1;
  }

  .row-lg-11 {
    --in-rows: auto;
  }

  .col-lg-12 {
    --col: 12;
  }

  .start-lg-12 {
    --start: 1;
  }

  .row-lg-12 {
    --in-rows: auto;
  }

  .col-xl-1 {
    --col: 12;
  }

  .start-xl-1 {
    --start: 1;
  }

  .row-xl-1 {
    --in-rows: auto;
  }

  .col-xl-2 {
    --col: 12;
  }

  .start-xl-2 {
    --start: 1;
  }

  .row-xl-2 {
    --in-rows: auto;
  }

  .col-xl-3 {
    --col: 12;
  }

  .start-xl-3 {
    --start: 1;
  }

  .row-xl-3 {
    --in-rows: auto;
  }

  .col-xl-4 {
    --col: 12;
  }

  .start-xl-4 {
    --start: 1;
  }

  .row-xl-4 {
    --in-rows: auto;
  }

  .col-xl-5 {
    --col: 12;
  }

  .start-xl-5 {
    --start: 1;
  }

  .row-xl-5 {
    --in-rows: auto;
  }

  .col-xl-6 {
    --col: 12;
  }

  .start-xl-6 {
    --start: 1;
  }

  .row-xl-6 {
    --in-rows: auto;
  }

  .col-xl-7 {
    --col: 12;
  }

  .start-xl-7 {
    --start: 1;
  }

  .row-xl-7 {
    --in-rows: auto;
  }

  .col-xl-8 {
    --col: 12;
  }

  .start-xl-8 {
    --start: 1;
  }

  .row-xl-8 {
    --in-rows: auto;
  }

  .col-xl-9 {
    --col: 12;
  }

  .start-xl-9 {
    --start: 1;
  }

  .row-xl-9 {
    --in-rows: auto;
  }

  .col-xl-10 {
    --col: 12;
  }

  .start-xl-10 {
    --start: 1;
  }

  .row-xl-10 {
    --in-rows: auto;
  }

  .col-xl-11 {
    --col: 12;
  }

  .start-xl-11 {
    --start: 1;
  }

  .row-xl-11 {
    --in-rows: auto;
  }

  .col-xl-12 {
    --col: 12;
  }

  .start-xl-12 {
    --start: 1;
  }

  .row-xl-12 {
    --in-rows: auto;
  }

  .col-xxl-1 {
    --col: 12;
  }

  .start-xxl-1 {
    --start: 1;
  }

  .row-xxl-1 {
    --in-rows: auto;
  }

  .col-xxl-2 {
    --col: 12;
  }

  .start-xxl-2 {
    --start: 1;
  }

  .row-xxl-2 {
    --in-rows: auto;
  }

  .col-xxl-3 {
    --col: 12;
  }

  .start-xxl-3 {
    --start: 1;
  }

  .row-xxl-3 {
    --in-rows: auto;
  }

  .col-xxl-4 {
    --col: 12;
  }

  .start-xxl-4 {
    --start: 1;
  }

  .row-xxl-4 {
    --in-rows: auto;
  }

  .col-xxl-5 {
    --col: 12;
  }

  .start-xxl-5 {
    --start: 1;
  }

  .row-xxl-5 {
    --in-rows: auto;
  }

  .col-xxl-6 {
    --col: 12;
  }

  .start-xxl-6 {
    --start: 1;
  }

  .row-xxl-6 {
    --in-rows: auto;
  }

  .col-xxl-7 {
    --col: 12;
  }

  .start-xxl-7 {
    --start: 1;
  }

  .row-xxl-7 {
    --in-rows: auto;
  }

  .col-xxl-8 {
    --col: 12;
  }

  .start-xxl-8 {
    --start: 1;
  }

  .row-xxl-8 {
    --in-rows: auto;
  }

  .col-xxl-9 {
    --col: 12;
  }

  .start-xxl-9 {
    --start: 1;
  }

  .row-xxl-9 {
    --in-rows: auto;
  }

  .col-xxl-10 {
    --col: 12;
  }

  .start-xxl-10 {
    --start: 1;
  }

  .row-xxl-10 {
    --in-rows: auto;
  }

  .col-xxl-11 {
    --col: 12;
  }

  .start-xxl-11 {
    --start: 1;
  }

  .row-xxl-11 {
    --in-rows: auto;
  }

  .col-xxl-12 {
    --col: 12;
  }

  .start-xxl-12 {
    --start: 1;
  }

  .row-xxl-12 {
    --in-rows: auto;
  }

  .d-sm-none {
    display: none;
  }

  .d-sm-inline {
    display: inline;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-inline-block {
    display: inline-block;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    --col: 1;
  }

  .start-md-1 {
    --start: 1;
  }

  .row-md-1 {
    --in-rows: 1;
  }

  .col-md-2 {
    --col: 2;
  }

  .start-md-2 {
    --start: 2;
  }

  .row-md-2 {
    --in-rows: 2;
  }

  .col-md-3 {
    --col: 3;
  }

  .start-md-3 {
    --start: 3;
  }

  .row-md-3 {
    --in-rows: 3;
  }

  .col-md-4 {
    --col: 4;
  }

  .start-md-4 {
    --start: 4;
  }

  .row-md-4 {
    --in-rows: 4;
  }

  .col-md-5 {
    --col: 5;
  }

  .start-md-5 {
    --start: 5;
  }

  .row-md-5 {
    --in-rows: 5;
  }

  .col-md-6 {
    --col: 6;
  }

  .start-md-6 {
    --start: 6;
  }

  .row-md-6 {
    --in-rows: 6;
  }

  .col-md-7 {
    --col: 7;
  }

  .start-md-7 {
    --start: 7;
  }

  .row-md-7 {
    --in-rows: 7;
  }

  .col-md-8 {
    --col: 8;
  }

  .start-md-8 {
    --start: 8;
  }

  .row-md-8 {
    --in-rows: 8;
  }

  .col-md-9 {
    --col: 9;
  }

  .start-md-9 {
    --start: 9;
  }

  .row-md-9 {
    --in-rows: 9;
  }

  .col-md-10 {
    --col: 10;
  }

  .start-md-10 {
    --start: 10;
  }

  .row-md-10 {
    --in-rows: 10;
  }

  .col-md-11 {
    --col: 11;
  }

  .start-md-11 {
    --start: 11;
  }

  .row-md-11 {
    --in-rows: 11;
  }

  .col-md-12 {
    --col: 12;
  }

  .start-md-12 {
    --start: 12;
  }

  .row-md-12 {
    --in-rows: 12;
  }

  .col-lg-1 {
    --col: 12;
  }

  .start-lg-1 {
    --start: 1;
  }

  .row-lg-1 {
    --in-rows: auto;
  }

  .col-lg-2 {
    --col: 12;
  }

  .start-lg-2 {
    --start: 1;
  }

  .row-lg-2 {
    --in-rows: auto;
  }

  .col-lg-3 {
    --col: 12;
  }

  .start-lg-3 {
    --start: 1;
  }

  .row-lg-3 {
    --in-rows: auto;
  }

  .col-lg-4 {
    --col: 12;
  }

  .start-lg-4 {
    --start: 1;
  }

  .row-lg-4 {
    --in-rows: auto;
  }

  .col-lg-5 {
    --col: 12;
  }

  .start-lg-5 {
    --start: 1;
  }

  .row-lg-5 {
    --in-rows: auto;
  }

  .col-lg-6 {
    --col: 12;
  }

  .start-lg-6 {
    --start: 1;
  }

  .row-lg-6 {
    --in-rows: auto;
  }

  .col-lg-7 {
    --col: 12;
  }

  .start-lg-7 {
    --start: 1;
  }

  .row-lg-7 {
    --in-rows: auto;
  }

  .col-lg-8 {
    --col: 12;
  }

  .start-lg-8 {
    --start: 1;
  }

  .row-lg-8 {
    --in-rows: auto;
  }

  .col-lg-9 {
    --col: 12;
  }

  .start-lg-9 {
    --start: 1;
  }

  .row-lg-9 {
    --in-rows: auto;
  }

  .col-lg-10 {
    --col: 12;
  }

  .start-lg-10 {
    --start: 1;
  }

  .row-lg-10 {
    --in-rows: auto;
  }

  .col-lg-11 {
    --col: 12;
  }

  .start-lg-11 {
    --start: 1;
  }

  .row-lg-11 {
    --in-rows: auto;
  }

  .col-lg-12 {
    --col: 12;
  }

  .start-lg-12 {
    --start: 1;
  }

  .row-lg-12 {
    --in-rows: auto;
  }

  .col-xl-1 {
    --col: 12;
  }

  .start-xl-1 {
    --start: 1;
  }

  .row-xl-1 {
    --in-rows: auto;
  }

  .col-xl-2 {
    --col: 12;
  }

  .start-xl-2 {
    --start: 1;
  }

  .row-xl-2 {
    --in-rows: auto;
  }

  .col-xl-3 {
    --col: 12;
  }

  .start-xl-3 {
    --start: 1;
  }

  .row-xl-3 {
    --in-rows: auto;
  }

  .col-xl-4 {
    --col: 12;
  }

  .start-xl-4 {
    --start: 1;
  }

  .row-xl-4 {
    --in-rows: auto;
  }

  .col-xl-5 {
    --col: 12;
  }

  .start-xl-5 {
    --start: 1;
  }

  .row-xl-5 {
    --in-rows: auto;
  }

  .col-xl-6 {
    --col: 12;
  }

  .start-xl-6 {
    --start: 1;
  }

  .row-xl-6 {
    --in-rows: auto;
  }

  .col-xl-7 {
    --col: 12;
  }

  .start-xl-7 {
    --start: 1;
  }

  .row-xl-7 {
    --in-rows: auto;
  }

  .col-xl-8 {
    --col: 12;
  }

  .start-xl-8 {
    --start: 1;
  }

  .row-xl-8 {
    --in-rows: auto;
  }

  .col-xl-9 {
    --col: 12;
  }

  .start-xl-9 {
    --start: 1;
  }

  .row-xl-9 {
    --in-rows: auto;
  }

  .col-xl-10 {
    --col: 12;
  }

  .start-xl-10 {
    --start: 1;
  }

  .row-xl-10 {
    --in-rows: auto;
  }

  .col-xl-11 {
    --col: 12;
  }

  .start-xl-11 {
    --start: 1;
  }

  .row-xl-11 {
    --in-rows: auto;
  }

  .col-xl-12 {
    --col: 12;
  }

  .start-xl-12 {
    --start: 1;
  }

  .row-xl-12 {
    --in-rows: auto;
  }

  .col-xxl-1 {
    --col: 12;
  }

  .start-xxl-1 {
    --start: 1;
  }

  .row-xxl-1 {
    --in-rows: auto;
  }

  .col-xxl-2 {
    --col: 12;
  }

  .start-xxl-2 {
    --start: 1;
  }

  .row-xxl-2 {
    --in-rows: auto;
  }

  .col-xxl-3 {
    --col: 12;
  }

  .start-xxl-3 {
    --start: 1;
  }

  .row-xxl-3 {
    --in-rows: auto;
  }

  .col-xxl-4 {
    --col: 12;
  }

  .start-xxl-4 {
    --start: 1;
  }

  .row-xxl-4 {
    --in-rows: auto;
  }

  .col-xxl-5 {
    --col: 12;
  }

  .start-xxl-5 {
    --start: 1;
  }

  .row-xxl-5 {
    --in-rows: auto;
  }

  .col-xxl-6 {
    --col: 12;
  }

  .start-xxl-6 {
    --start: 1;
  }

  .row-xxl-6 {
    --in-rows: auto;
  }

  .col-xxl-7 {
    --col: 12;
  }

  .start-xxl-7 {
    --start: 1;
  }

  .row-xxl-7 {
    --in-rows: auto;
  }

  .col-xxl-8 {
    --col: 12;
  }

  .start-xxl-8 {
    --start: 1;
  }

  .row-xxl-8 {
    --in-rows: auto;
  }

  .col-xxl-9 {
    --col: 12;
  }

  .start-xxl-9 {
    --start: 1;
  }

  .row-xxl-9 {
    --in-rows: auto;
  }

  .col-xxl-10 {
    --col: 12;
  }

  .start-xxl-10 {
    --start: 1;
  }

  .row-xxl-10 {
    --in-rows: auto;
  }

  .col-xxl-11 {
    --col: 12;
  }

  .start-xxl-11 {
    --start: 1;
  }

  .row-xxl-11 {
    --in-rows: auto;
  }

  .col-xxl-12 {
    --col: 12;
  }

  .start-xxl-12 {
    --start: 1;
  }

  .row-xxl-12 {
    --in-rows: auto;
  }

  .d-md-none {
    display: none;
  }

  .d-md-inline {
    display: inline;
  }

  .d-md-block {
    display: block;
  }

  .d-md-inline-block {
    display: inline-block;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    --col: 1;
  }

  .start-lg-1 {
    --start: 1;
  }

  .row-lg-1 {
    --in-rows: 1;
  }

  .col-lg-2 {
    --col: 2;
  }

  .start-lg-2 {
    --start: 2;
  }

  .row-lg-2 {
    --in-rows: 2;
  }

  .col-lg-3 {
    --col: 3;
  }

  .start-lg-3 {
    --start: 3;
  }

  .row-lg-3 {
    --in-rows: 3;
  }

  .col-lg-4 {
    --col: 4;
  }

  .start-lg-4 {
    --start: 4;
  }

  .row-lg-4 {
    --in-rows: 4;
  }

  .col-lg-5 {
    --col: 5;
  }

  .start-lg-5 {
    --start: 5;
  }

  .row-lg-5 {
    --in-rows: 5;
  }

  .col-lg-6 {
    --col: 6;
  }

  .start-lg-6 {
    --start: 6;
  }

  .row-lg-6 {
    --in-rows: 6;
  }

  .col-lg-7 {
    --col: 7;
  }

  .start-lg-7 {
    --start: 7;
  }

  .row-lg-7 {
    --in-rows: 7;
  }

  .col-lg-8 {
    --col: 8;
  }

  .start-lg-8 {
    --start: 8;
  }

  .row-lg-8 {
    --in-rows: 8;
  }

  .col-lg-9 {
    --col: 9;
  }

  .start-lg-9 {
    --start: 9;
  }

  .row-lg-9 {
    --in-rows: 9;
  }

  .col-lg-10 {
    --col: 10;
  }

  .start-lg-10 {
    --start: 10;
  }

  .row-lg-10 {
    --in-rows: 10;
  }

  .col-lg-11 {
    --col: 11;
  }

  .start-lg-11 {
    --start: 11;
  }

  .row-lg-11 {
    --in-rows: 11;
  }

  .col-lg-12 {
    --col: 12;
  }

  .start-lg-12 {
    --start: 12;
  }

  .row-lg-12 {
    --in-rows: 12;
  }

  .col-xl-1 {
    --col: 12;
  }

  .start-xl-1 {
    --start: 1;
  }

  .row-xl-1 {
    --in-rows: auto;
  }

  .col-xl-2 {
    --col: 12;
  }

  .start-xl-2 {
    --start: 1;
  }

  .row-xl-2 {
    --in-rows: auto;
  }

  .col-xl-3 {
    --col: 12;
  }

  .start-xl-3 {
    --start: 1;
  }

  .row-xl-3 {
    --in-rows: auto;
  }

  .col-xl-4 {
    --col: 12;
  }

  .start-xl-4 {
    --start: 1;
  }

  .row-xl-4 {
    --in-rows: auto;
  }

  .col-xl-5 {
    --col: 12;
  }

  .start-xl-5 {
    --start: 1;
  }

  .row-xl-5 {
    --in-rows: auto;
  }

  .col-xl-6 {
    --col: 12;
  }

  .start-xl-6 {
    --start: 1;
  }

  .row-xl-6 {
    --in-rows: auto;
  }

  .col-xl-7 {
    --col: 12;
  }

  .start-xl-7 {
    --start: 1;
  }

  .row-xl-7 {
    --in-rows: auto;
  }

  .col-xl-8 {
    --col: 12;
  }

  .start-xl-8 {
    --start: 1;
  }

  .row-xl-8 {
    --in-rows: auto;
  }

  .col-xl-9 {
    --col: 12;
  }

  .start-xl-9 {
    --start: 1;
  }

  .row-xl-9 {
    --in-rows: auto;
  }

  .col-xl-10 {
    --col: 12;
  }

  .start-xl-10 {
    --start: 1;
  }

  .row-xl-10 {
    --in-rows: auto;
  }

  .col-xl-11 {
    --col: 12;
  }

  .start-xl-11 {
    --start: 1;
  }

  .row-xl-11 {
    --in-rows: auto;
  }

  .col-xl-12 {
    --col: 12;
  }

  .start-xl-12 {
    --start: 1;
  }

  .row-xl-12 {
    --in-rows: auto;
  }

  .col-xxl-1 {
    --col: 12;
  }

  .start-xxl-1 {
    --start: 1;
  }

  .row-xxl-1 {
    --in-rows: auto;
  }

  .col-xxl-2 {
    --col: 12;
  }

  .start-xxl-2 {
    --start: 1;
  }

  .row-xxl-2 {
    --in-rows: auto;
  }

  .col-xxl-3 {
    --col: 12;
  }

  .start-xxl-3 {
    --start: 1;
  }

  .row-xxl-3 {
    --in-rows: auto;
  }

  .col-xxl-4 {
    --col: 12;
  }

  .start-xxl-4 {
    --start: 1;
  }

  .row-xxl-4 {
    --in-rows: auto;
  }

  .col-xxl-5 {
    --col: 12;
  }

  .start-xxl-5 {
    --start: 1;
  }

  .row-xxl-5 {
    --in-rows: auto;
  }

  .col-xxl-6 {
    --col: 12;
  }

  .start-xxl-6 {
    --start: 1;
  }

  .row-xxl-6 {
    --in-rows: auto;
  }

  .col-xxl-7 {
    --col: 12;
  }

  .start-xxl-7 {
    --start: 1;
  }

  .row-xxl-7 {
    --in-rows: auto;
  }

  .col-xxl-8 {
    --col: 12;
  }

  .start-xxl-8 {
    --start: 1;
  }

  .row-xxl-8 {
    --in-rows: auto;
  }

  .col-xxl-9 {
    --col: 12;
  }

  .start-xxl-9 {
    --start: 1;
  }

  .row-xxl-9 {
    --in-rows: auto;
  }

  .col-xxl-10 {
    --col: 12;
  }

  .start-xxl-10 {
    --start: 1;
  }

  .row-xxl-10 {
    --in-rows: auto;
  }

  .col-xxl-11 {
    --col: 12;
  }

  .start-xxl-11 {
    --start: 1;
  }

  .row-xxl-11 {
    --in-rows: auto;
  }

  .col-xxl-12 {
    --col: 12;
  }

  .start-xxl-12 {
    --start: 1;
  }

  .row-xxl-12 {
    --in-rows: auto;
  }

  .d-lg-none {
    display: none;
  }

  .d-lg-inline {
    display: inline;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-inline-block {
    display: inline-block;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    --col: 1;
  }

  .start-xl-1 {
    --start: 1;
  }

  .row-xl-1 {
    --in-rows: 1;
  }

  .col-xl-2 {
    --col: 2;
  }

  .start-xl-2 {
    --start: 2;
  }

  .row-xl-2 {
    --in-rows: 2;
  }

  .col-xl-3 {
    --col: 3;
  }

  .start-xl-3 {
    --start: 3;
  }

  .row-xl-3 {
    --in-rows: 3;
  }

  .col-xl-4 {
    --col: 4;
  }

  .start-xl-4 {
    --start: 4;
  }

  .row-xl-4 {
    --in-rows: 4;
  }

  .col-xl-5 {
    --col: 5;
  }

  .start-xl-5 {
    --start: 5;
  }

  .row-xl-5 {
    --in-rows: 5;
  }

  .col-xl-6 {
    --col: 6;
  }

  .start-xl-6 {
    --start: 6;
  }

  .row-xl-6 {
    --in-rows: 6;
  }

  .col-xl-7 {
    --col: 7;
  }

  .start-xl-7 {
    --start: 7;
  }

  .row-xl-7 {
    --in-rows: 7;
  }

  .col-xl-8 {
    --col: 8;
  }

  .start-xl-8 {
    --start: 8;
  }

  .row-xl-8 {
    --in-rows: 8;
  }

  .col-xl-9 {
    --col: 9;
  }

  .start-xl-9 {
    --start: 9;
  }

  .row-xl-9 {
    --in-rows: 9;
  }

  .col-xl-10 {
    --col: 10;
  }

  .start-xl-10 {
    --start: 10;
  }

  .row-xl-10 {
    --in-rows: 10;
  }

  .col-xl-11 {
    --col: 11;
  }

  .start-xl-11 {
    --start: 11;
  }

  .row-xl-11 {
    --in-rows: 11;
  }

  .col-xl-12 {
    --col: 12;
  }

  .start-xl-12 {
    --start: 12;
  }

  .row-xl-12 {
    --in-rows: 12;
  }

  .col-xxl-1 {
    --col: 12;
  }

  .start-xxl-1 {
    --start: 1;
  }

  .row-xxl-1 {
    --in-rows: auto;
  }

  .col-xxl-2 {
    --col: 12;
  }

  .start-xxl-2 {
    --start: 1;
  }

  .row-xxl-2 {
    --in-rows: auto;
  }

  .col-xxl-3 {
    --col: 12;
  }

  .start-xxl-3 {
    --start: 1;
  }

  .row-xxl-3 {
    --in-rows: auto;
  }

  .col-xxl-4 {
    --col: 12;
  }

  .start-xxl-4 {
    --start: 1;
  }

  .row-xxl-4 {
    --in-rows: auto;
  }

  .col-xxl-5 {
    --col: 12;
  }

  .start-xxl-5 {
    --start: 1;
  }

  .row-xxl-5 {
    --in-rows: auto;
  }

  .col-xxl-6 {
    --col: 12;
  }

  .start-xxl-6 {
    --start: 1;
  }

  .row-xxl-6 {
    --in-rows: auto;
  }

  .col-xxl-7 {
    --col: 12;
  }

  .start-xxl-7 {
    --start: 1;
  }

  .row-xxl-7 {
    --in-rows: auto;
  }

  .col-xxl-8 {
    --col: 12;
  }

  .start-xxl-8 {
    --start: 1;
  }

  .row-xxl-8 {
    --in-rows: auto;
  }

  .col-xxl-9 {
    --col: 12;
  }

  .start-xxl-9 {
    --start: 1;
  }

  .row-xxl-9 {
    --in-rows: auto;
  }

  .col-xxl-10 {
    --col: 12;
  }

  .start-xxl-10 {
    --start: 1;
  }

  .row-xxl-10 {
    --in-rows: auto;
  }

  .col-xxl-11 {
    --col: 12;
  }

  .start-xxl-11 {
    --start: 1;
  }

  .row-xxl-11 {
    --in-rows: auto;
  }

  .col-xxl-12 {
    --col: 12;
  }

  .start-xxl-12 {
    --start: 1;
  }

  .row-xxl-12 {
    --in-rows: auto;
  }

  .d-xl-none {
    display: none;
  }

  .d-xl-inline {
    display: inline;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-inline-block {
    display: inline-block;
  }
}
@media (min-width: 1400px) {
  .col-xxl-1 {
    --col: 1;
  }

  .start-xxl-1 {
    --start: 1;
  }

  .row-xxl-1 {
    --in-rows: 1;
  }

  .col-xxl-2 {
    --col: 2;
  }

  .start-xxl-2 {
    --start: 2;
  }

  .row-xxl-2 {
    --in-rows: 2;
  }

  .col-xxl-3 {
    --col: 3;
  }

  .start-xxl-3 {
    --start: 3;
  }

  .row-xxl-3 {
    --in-rows: 3;
  }

  .col-xxl-4 {
    --col: 4;
  }

  .start-xxl-4 {
    --start: 4;
  }

  .row-xxl-4 {
    --in-rows: 4;
  }

  .col-xxl-5 {
    --col: 5;
  }

  .start-xxl-5 {
    --start: 5;
  }

  .row-xxl-5 {
    --in-rows: 5;
  }

  .col-xxl-6 {
    --col: 6;
  }

  .start-xxl-6 {
    --start: 6;
  }

  .row-xxl-6 {
    --in-rows: 6;
  }

  .col-xxl-7 {
    --col: 7;
  }

  .start-xxl-7 {
    --start: 7;
  }

  .row-xxl-7 {
    --in-rows: 7;
  }

  .col-xxl-8 {
    --col: 8;
  }

  .start-xxl-8 {
    --start: 8;
  }

  .row-xxl-8 {
    --in-rows: 8;
  }

  .col-xxl-9 {
    --col: 9;
  }

  .start-xxl-9 {
    --start: 9;
  }

  .row-xxl-9 {
    --in-rows: 9;
  }

  .col-xxl-10 {
    --col: 10;
  }

  .start-xxl-10 {
    --start: 10;
  }

  .row-xxl-10 {
    --in-rows: 10;
  }

  .col-xxl-11 {
    --col: 11;
  }

  .start-xxl-11 {
    --start: 11;
  }

  .row-xxl-11 {
    --in-rows: 11;
  }

  .col-xxl-12 {
    --col: 12;
  }

  .start-xxl-12 {
    --start: 12;
  }

  .row-xxl-12 {
    --in-rows: 12;
  }

  .col-xxl-1 {
    --col: 12;
  }

  .start-xxl-1 {
    --start: 1;
  }

  .row-xxl-1 {
    --in-rows: auto;
  }

  .col-xxl-2 {
    --col: 12;
  }

  .start-xxl-2 {
    --start: 1;
  }

  .row-xxl-2 {
    --in-rows: auto;
  }

  .col-xxl-3 {
    --col: 12;
  }

  .start-xxl-3 {
    --start: 1;
  }

  .row-xxl-3 {
    --in-rows: auto;
  }

  .col-xxl-4 {
    --col: 12;
  }

  .start-xxl-4 {
    --start: 1;
  }

  .row-xxl-4 {
    --in-rows: auto;
  }

  .col-xxl-5 {
    --col: 12;
  }

  .start-xxl-5 {
    --start: 1;
  }

  .row-xxl-5 {
    --in-rows: auto;
  }

  .col-xxl-6 {
    --col: 12;
  }

  .start-xxl-6 {
    --start: 1;
  }

  .row-xxl-6 {
    --in-rows: auto;
  }

  .col-xxl-7 {
    --col: 12;
  }

  .start-xxl-7 {
    --start: 1;
  }

  .row-xxl-7 {
    --in-rows: auto;
  }

  .col-xxl-8 {
    --col: 12;
  }

  .start-xxl-8 {
    --start: 1;
  }

  .row-xxl-8 {
    --in-rows: auto;
  }

  .col-xxl-9 {
    --col: 12;
  }

  .start-xxl-9 {
    --start: 1;
  }

  .row-xxl-9 {
    --in-rows: auto;
  }

  .col-xxl-10 {
    --col: 12;
  }

  .start-xxl-10 {
    --start: 1;
  }

  .row-xxl-10 {
    --in-rows: auto;
  }

  .col-xxl-11 {
    --col: 12;
  }

  .start-xxl-11 {
    --start: 1;
  }

  .row-xxl-11 {
    --in-rows: auto;
  }

  .col-xxl-12 {
    --col: 12;
  }

  .start-xxl-12 {
    --start: 1;
  }

  .row-xxl-12 {
    --in-rows: auto;
  }

  .d-xxl-none {
    display: none;
  }

  .d-xxl-inline {
    display: inline;
  }

  .d-xxl-block {
    display: block;
  }

  .d-xxl-inline-block {
    display: inline-block;
  }
}
.col-1 {
  --col: 1;
}

.start-1 {
  --start: 1;
}

.row-1 {
  --in-rows: 1;
}

.col-2 {
  --col: 2;
}

.start-2 {
  --start: 2;
}

.row-2 {
  --in-rows: 2;
}

.col-3 {
  --col: 3;
}

.start-3 {
  --start: 3;
}

.row-3 {
  --in-rows: 3;
}

.col-4 {
  --col: 4;
}

.start-4 {
  --start: 4;
}

.row-4 {
  --in-rows: 4;
}

.col-5 {
  --col: 5;
}

.start-5 {
  --start: 5;
}

.row-5 {
  --in-rows: 5;
}

.col-6 {
  --col: 6;
}

.start-6 {
  --start: 6;
}

.row-6 {
  --in-rows: 6;
}

.col-7 {
  --col: 7;
}

.start-7 {
  --start: 7;
}

.row-7 {
  --in-rows: 7;
}

.col-8 {
  --col: 8;
}

.start-8 {
  --start: 8;
}

.row-8 {
  --in-rows: 8;
}

.col-9 {
  --col: 9;
}

.start-9 {
  --start: 9;
}

.row-9 {
  --in-rows: 9;
}

.col-10 {
  --col: 10;
}

.start-10 {
  --start: 10;
}

.row-10 {
  --in-rows: 10;
}

.col-11 {
  --col: 11;
}

.start-11 {
  --start: 11;
}

.row-11 {
  --in-rows: 11;
}

.col-12 {
  --col: 12;
}

.start-12 {
  --start: 12;
}

.row-12 {
  --in-rows: 12;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  min-height: 0;
  background-color: #20c4ab;
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 0 solid transparent;
}

::-webkit-scrollbar-track {
  box-shadow: 1px 1px 5px rgba(100, 100, 100, 0.2) inset;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border: 0 solid transparent;
}

.topbar {
  height: 36px;
  background-color: black;
  color: white;
  line-height: 36px;
}
.topbar .col-8 {
  text-align: center;
}
.topbar .col-8 a {
  padding: 8px 15px;
}
.topbar .col-2 span {
  line-height: 36px;
}
.topbar .col-2.right a {
  background-color: #fff;
  color: black;
  padding: 0px 5px;
  border-radius: 10px;
  font-weight: 800;
  letter-spacing: -1px;
}

.header {
  position: sticky;
  top: 0px;
}
.header .col-11.category {
  height: 42px;
  line-height: 42px;
}
.header .col-11.category a {
  color: #000;
  padding: 2px 4px;
  font-weight: 500;
  letter-spacing: -1px;
}
.header .col-11.category a.active {
  background-color: #008dd2;
  color: #fff;
  border-radius: 10px;
}

.footer {
  width: 100%;
  height: 3000px;
}

button.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
  width: 28px;
  border-radius: 50%;
  height: 28px;
  font-size: 0;
  border: 1px solid #ddd;
  transition: 0.3s;
  box-shadow: 1px 1px 10px #ddd;
}
button.back-to-top::before {
  top: 6px;
  width: 1px;
  height: 12px;
  left: 9px;
  position: absolute;
  content: "";
  background: #888;
  transform: rotate(45deg);
}
button.back-to-top::after {
  width: 1px;
  height: 12px;
  right: 8px;
  top: 6px;
  position: absolute;
  content: "";
  background: #888;
  transform: rotate(-45deg);
}
button.back-to-top:hover {
  border: 2px solid #888;
  box-shadow: 1px 1px 10px #888;
}

a {
  text-decoration: none;
}

a:visited {
  color: white;
}

.glitch {
  color: #fff;
  font: normal normal 36px Lobster;
  background-color: #000;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
  position: relative;
  text-shadow: -2px 2px 0 grey;
  font-size: 68px;
}
.glitch::first-letter {
  color: yellow;
  text-transform: uppercase;
}
.glitch::before {
  left: 29px;
  text-shadow: -5px 0 #49FC00;
  clip: rect(24px, 550px, 90px, 0);
  animation: glitch-anim-2 10s infinite linear alternate-reverse;
  content: "Asdnasjk askld jlasn dk";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
.glitch::after {
  left: -29px;
  text-shadow: -5px 0 #b300fc;
  color: #fff;
  clip: rect(85px, 550px, 140px, 0);
  animation: glitch-anim 10s infinite linear alternate-reverse;
  content: "Asdnasjk askld jlasn dk";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(85px, 9999px, 63px, 0);
  }
  4.166666666666666% {
    clip: rect(119px, 9999px, 107px, 0);
  }
  8.333333333333332% {
    clip: rect(74px, 9999px, 67px, 0);
  }
  12.5% {
    clip: rect(107px, 9999px, 55px, 0);
  }
  16.666666666666664% {
    clip: rect(1px, 9999px, 65px, 0);
  }
  20.833333333333336% {
    clip: rect(66px, 9999px, 91px, 0);
  }
  25% {
    clip: rect(23px, 9999px, 0px, 0);
  }
  29.166666666666668% {
    clip: rect(127px, 9999px, 75px, 0);
  }
  33.33333333333333% {
    clip: rect(31px, 9999px, 79px, 0);
  }
  37.5% {
    clip: rect(69px, 9999px, 134px, 0);
  }
  41.66666666666667% {
    clip: rect(103px, 9999px, 45px, 0);
  }
  45.83333333333333% {
    clip: rect(100px, 9999px, 145px, 0);
  }
  50% {
    clip: rect(142px, 9999px, 150px, 0);
  }
  54.166666666666664% {
    clip: rect(14px, 9999px, 9px, 0);
  }
  58.333333333333336% {
    clip: rect(54px, 9999px, 66px, 0);
  }
  62.5% {
    clip: rect(117px, 9999px, 120px, 0);
  }
  66.66666666666666% {
    clip: rect(40px, 9999px, 62px, 0);
  }
  70.83333333333334% {
    clip: rect(57px, 9999px, 91px, 0);
  }
  75% {
    clip: rect(78px, 9999px, 17px, 0);
  }
  79.16666666666666% {
    clip: rect(139px, 9999px, 125px, 0);
  }
  83.33333333333334% {
    clip: rect(114px, 9999px, 90px, 0);
  }
  87.5% {
    clip: rect(136px, 9999px, 145px, 0);
  }
  91.66666666666666% {
    clip: rect(47px, 9999px, 1px, 0);
  }
  95.83333333333334% {
    clip: rect(2px, 9999px, 144px, 0);
  }
  100% {
    clip: rect(102px, 9999px, 30px, 0);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(85px, 9999px, 63px, 0);
  }
  4.166666666666666% {
    clip: rect(119px, 9999px, 107px, 0);
  }
  8.333333333333332% {
    clip: rect(74px, 9999px, 67px, 0);
  }
  12.5% {
    clip: rect(107px, 9999px, 55px, 0);
  }
  16.666666666666664% {
    clip: rect(1px, 9999px, 65px, 0);
  }
  20.833333333333336% {
    clip: rect(66px, 9999px, 91px, 0);
  }
  25% {
    clip: rect(23px, 9999px, 0px, 0);
  }
  29.166666666666668% {
    clip: rect(127px, 9999px, 75px, 0);
  }
  33.33333333333333% {
    clip: rect(31px, 9999px, 79px, 0);
  }
  37.5% {
    clip: rect(69px, 9999px, 134px, 0);
  }
  41.66666666666667% {
    clip: rect(103px, 9999px, 45px, 0);
  }
  45.83333333333333% {
    clip: rect(100px, 9999px, 145px, 0);
  }
  50% {
    clip: rect(142px, 9999px, 150px, 0);
  }
  54.166666666666664% {
    clip: rect(14px, 9999px, 9px, 0);
  }
  58.333333333333336% {
    clip: rect(54px, 9999px, 66px, 0);
  }
  62.5% {
    clip: rect(117px, 9999px, 120px, 0);
  }
  66.66666666666666% {
    clip: rect(40px, 9999px, 62px, 0);
  }
  70.83333333333334% {
    clip: rect(57px, 9999px, 91px, 0);
  }
  75% {
    clip: rect(78px, 9999px, 17px, 0);
  }
  79.16666666666666% {
    clip: rect(139px, 9999px, 125px, 0);
  }
  83.33333333333334% {
    clip: rect(114px, 9999px, 90px, 0);
  }
  87.5% {
    clip: rect(136px, 9999px, 145px, 0);
  }
  91.66666666666666% {
    clip: rect(47px, 9999px, 1px, 0);
  }
  95.83333333333334% {
    clip: rect(2px, 9999px, 144px, 0);
  }
  100% {
    clip: rect(102px, 9999px, 30px, 0);
  }
}
@-webkit-keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(132px, 9999px, 149px, 0);
  }
  10% {
    clip: rect(74px, 9999px, 57px, 0);
  }
  13.333333333333334% {
    clip: rect(65px, 9999px, 0px, 0);
  }
  16.666666666666664% {
    clip: rect(36px, 9999px, 84px, 0);
  }
  20% {
    clip: rect(106px, 9999px, 19px, 0);
  }
  23.333333333333332% {
    clip: rect(86px, 9999px, 142px, 0);
  }
  26.666666666666668% {
    clip: rect(30px, 9999px, 2px, 0);
  }
  30% {
    clip: rect(101px, 9999px, 104px, 0);
  }
  33.33333333333333% {
    clip: rect(118px, 9999px, 95px, 0);
  }
  36.666666666666664% {
    clip: rect(53px, 9999px, 108px, 0);
  }
  40% {
    clip: rect(53px, 9999px, 112px, 0);
  }
  43.333333333333336% {
    clip: rect(29px, 9999px, 64px, 0);
  }
  46.666666666666664% {
    clip: rect(66px, 9999px, 63px, 0);
  }
  50% {
    clip: rect(29px, 9999px, 1px, 0);
  }
  53.333333333333336% {
    clip: rect(58px, 9999px, 31px, 0);
  }
  56.666666666666664% {
    clip: rect(44px, 9999px, 112px, 0);
  }
  60% {
    clip: rect(41px, 9999px, 118px, 0);
  }
  63.33333333333333% {
    clip: rect(57px, 9999px, 105px, 0);
  }
  66.66666666666666% {
    clip: rect(2px, 9999px, 41px, 0);
  }
  70% {
    clip: rect(93px, 9999px, 19px, 0);
  }
  73.33333333333333% {
    clip: rect(62px, 9999px, 75px, 0);
  }
  76.66666666666667% {
    clip: rect(102px, 9999px, 89px, 0);
  }
  80% {
    clip: rect(117px, 9999px, 125px, 0);
  }
  83.33333333333334% {
    clip: rect(56px, 9999px, 116px, 0);
  }
  86.66666666666667% {
    clip: rect(146px, 9999px, 67px, 0);
  }
  90% {
    clip: rect(124px, 9999px, 127px, 0);
  }
  93.33333333333333% {
    lip: rect(36px, 9999px, 5px, 0);
  }
  96.66666666666667% {
    clip: rect(25px, 9999px, 99px, 0);
  }
  100% {
    clip: rect(19px, 9999px, 84px, 0);
  }
}
@keyframes glitch-anim-2 {
  6.666666666666667% {
    clip: rect(132px, 9999px, 149px, 0);
  }
  10% {
    clip: rect(74px, 9999px, 57px, 0);
  }
  13.333333333333334% {
    clip: rect(65px, 9999px, 0px, 0);
  }
  16.666666666666664% {
    clip: rect(36px, 9999px, 84px, 0);
  }
  20% {
    clip: rect(106px, 9999px, 19px, 0);
  }
  23.333333333333332% {
    clip: rect(86px, 9999px, 142px, 0);
  }
  26.666666666666668% {
    clip: rect(30px, 9999px, 2px, 0);
  }
  30% {
    clip: rect(101px, 9999px, 104px, 0);
  }
  33.33333333333333% {
    clip: rect(118px, 9999px, 95px, 0);
  }
  36.666666666666664% {
    clip: rect(53px, 9999px, 108px, 0);
  }
  40% {
    clip: rect(53px, 9999px, 112px, 0);
  }
  43.333333333333336% {
    clip: rect(29px, 9999px, 64px, 0);
  }
  46.666666666666664% {
    clip: rect(66px, 9999px, 63px, 0);
  }
  50% {
    clip: rect(29px, 9999px, 1px, 0);
  }
  53.333333333333336% {
    clip: rect(58px, 9999px, 31px, 0);
  }
  56.666666666666664% {
    clip: rect(44px, 9999px, 112px, 0);
  }
  60% {
    clip: rect(41px, 9999px, 118px, 0);
  }
  63.33333333333333% {
    clip: rect(57px, 9999px, 105px, 0);
  }
  66.66666666666666% {
    clip: rect(2px, 9999px, 41px, 0);
  }
  70% {
    clip: rect(93px, 9999px, 19px, 0);
  }
  73.33333333333333% {
    clip: rect(62px, 9999px, 75px, 0);
  }
  76.66666666666667% {
    clip: rect(102px, 9999px, 89px, 0);
  }
  80% {
    clip: rect(117px, 9999px, 125px, 0);
  }
  83.33333333333334% {
    clip: rect(56px, 9999px, 116px, 0);
  }
  86.66666666666667% {
    clip: rect(146px, 9999px, 67px, 0);
  }
  90% {
    clip: rect(124px, 9999px, 127px, 0);
  }
  93.33333333333333% {
    lip: rect(36px, 9999px, 5px, 0);
  }
  96.66666666666667% {
    clip: rect(25px, 9999px, 99px, 0);
  }
  100% {
    clip: rect(19px, 9999px, 84px, 0);
  }
}
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90% {
    to-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    to-webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes bounceInDown {
  0%, 60%, 75%, 90% {
    to-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
    to-webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
@keyframes gradient-ani {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.gradient-ani {
  background: linear-gradient(45deg, #FDDE5C 0%, #F8AB5E 16.6666666667%, #F56A62 33.3333333333%, #A176C8 50%, #759BEB 66.6666666667%, #65BEB3 83.3333333333%, #70DB96 100%);
  background-size: 200% 200%;
  animation: gradient 10s ease infinite;
}
/*# sourceMappingURL=home.css.map */
