.topbar
    height: 36px
    background-color: black
    color: white
    line-height: 36px
    .col-8
        text-align: center
        a
            padding: 8px 15px
    .col-2
        & span
            line-height: 36px
        &.right
            a
                background-color: #fff
                color: black
                padding: 0px 5px
                border-radius: 10px
                font-weight: 800
                letter-spacing: -1px
