.body
    height: 6000px

    section
        border-bottom: 1px solid #000
        margin: 20px 0
    .section1
        .title
            position: absolute
            bottom: 0
            padding: 0 12px
            height: 3eem
            width: 100%
            font-weight: 600
            background: linear-gradient( 180deg , rgba(0,0,0,.1) , rgba(0,0,0,.9) )
            color: #fff
            overflow: hidden
            text-align: justify
            word-wrap: break-word
            line-height: 1eem
            text-overflow: ellipsis
            display: -webkit-box
            -webkit-line-clamp: 3
            line-clamp: 3
            -webkit-box-orient: vertical

        .title1
            font-size: 28px
        .title2
            font-size: 18px
            background-image: linear-gradient(#ebebeb,#fff)
            display: inline-block
            &:first-letter
                text-transform: capitalize

    .section2
        height: 10px

    .section3
        height: 10px
.swiper
    width: 600px
    height: 300px
